footer{
	background-color:#014401;
	margin-top:30px;
}

.logo,
.color{
	color:#014401;
}
footer a, 
.logo a {
	color:green;	
}

.logo a:hover,
footer a:hover{
	color:white;
	text-decoration:none;	
}

.logo a:hover{
	color:#014401;
}

#loading{
	text-align:center;
}